<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ipd.jianghuzuchebusiness">

    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序设置内置sd卡的读权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        android:protectionLevel="signature" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- 开启蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 快捷方式信息需要从setting中读取 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 唤醒锁定 允许程序在手机屏幕关闭后后台进程仍然运行 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 获取任务信息 允许程序获取当前或最近运行的应用 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 读写系统设置 允许读写系统设置项 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 挂载文件系统 挂载、反挂载外部文件系统 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 百度定位 -->
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <!-- 获取模拟定位信息 -->
    <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION" />
    <!-- 模拟GPS -->
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <!-- 连续广播 允许一个程序收到广播后快速收到下一个广播 -->
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <!-- 来电消音 处理拨出电话 允许程序监视，修改或放弃播出电话 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <!-- 修改声音设置 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- 录音 录制声音通过手机或耳机的麦克 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 摄影机 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".utils.ApplicationUtil"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:allowBackup, theme, label">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="cn.jpush.android.service.PushService"
            android:exported="false"
            android:process=":multiprocess"
            tools:node="replace" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="IYXUHk5wpudQmzoQwUDqrHgomnDWvISL" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".activity.ForgetPasswordActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".activity.GetCarOrderActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".activity.FillInPaperActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".activity.OrderDetailsActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".activity.LicensePlateNumActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".activity.VehicleConditionActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".activity.FinishTypeActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".activity.MultipleOrderActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".activity.MaintenanceOrderDetailsActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".activity.OrderSumActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".activity.StoreInforActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".activity.EditStoreInforActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".activity.FinanceSumActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".activity.BigImageActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".activity.SelectCarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".activity.InputActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".activity.AddBankAvtivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".activity.CashWithdrawalActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".activity.SelectBankActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".activity.SelectBankTwoActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".activity.WebViewActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".activity.LoadingActivity"
            android:screenOrientation="sensorPortrait" />
    </application>

</manifest>